.autherCard{

    background-color: burlywood;
    height: 75px;
    width:250px;
    border-radius: 5px;
}
.blackColor{
    color:#222!important;
}

.userImg{
    width: 38px;
    height: 38px;
}
.myHrSize{
    width: 30%;
}

.titleOfSingleQuestion{
    text-align: center;
}
.voteColor{
    color: white;
}
