<!DOCTYPE html>
<HTML lang="en">

<head>

    <link href="/public/css/styles.css" rel="stylesheet" type="text/css">
    <!-- <link href="/scss" rel="stylesheet/scss" type="text/css"> -->

    <title>Custom Products</title>



</head>

<body>
    <div class="row ">

        <div class="col-sm-12 col-md-3 col-lg-3 navLink">

            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <a href="#idSelfDriveCar">
                    <p>Self Drive Car</p>
                </a>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <a href="#idselfDriveBicycle">
                    <p>Self-Driving Bicycle</p>
                </a>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <a href="#idCarParApp">
                    <p>Smart Parking</p>
                </a>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <a href="#idneuraLink">
                    <p>Neuralink</p>
                </a>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <a href="#idInviPersWatch">
                    <p>Invisible Person Watch</p>
                </a>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <a href="#idSkyCar">
                    <p>Flying Car</p>
                </a>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <a href="#idTimeTravelMachine">
                    <p>Time travel Machine</p>
                </a>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <a href="#id4DTV">
                    <p>4D TV</p>
                </a>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 text-center" id="idInviPhone">
                <a href="#idInviPhoneCard">
                    <p>Transparent Phone</p>
                </a>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <a href="#idHologramDisp">
                    <p>Hologram Display</p>
                </a>
            </div>

        </div>

        <div class="col-sm-12 col-md-9 col-lg-9 cardsDetails">
            <div class="row">

                <div class="col-sm-12 col-md-6 col-lg-4 mt-3  mb-5 text-center " id="idSelfDriveCar">
                    <div class="card cardCenter" style="width: 18rem;">
                        <!-- <img src="./image/selfDriveCar.jpg" class="card-img-top" alt="self drive car" height="100px"> -->
                        <img src="/public/image/selfDriveCar.jpg" class="card-img-top" alt="self drive car">
                        <div class="card-body">
                            <p class="card-title">Self Drive Car</p>
                            <p class="card-text">A self-driving car, also known as a robot car, autonomous car, or
                                driverless car, is a vehicle that is
                                capable of sensing its environment and moving with little or no human input.</p>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#idselfCarModal">Detail</button>

                            <div class="modal fade" id="idselfCarModal" tabindex="-1" role="dialog"
                                aria-labelledby="idselfDriveLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <p class="modal-title" id="idselfDriveLabel">Self Drive Car</p>
                                            <button type="button" class="close " data-dismiss="modal"
                                                aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Self-driving vehicles are cars or trucks in which human drivers are never
                                            required to take control to safely operate the vehicle. Also known as
                                            autonomous or “driverless” cars,
                                            they combine sensors and software to control, navigate, and drive the
                                            vehicle.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="col-sm-12 col-md-6 col-lg-4 mt-3  mb-5 text-center" id="idselfDriveBicycle">
                    <div class="card  cardCenter" style="width: 18rem;">
                        <img src="/public/image/selfDriveBicycle.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">Self-Driving Bicycle</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of
                                the card's content.</p>

                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#idselfBicycleModal">Detail</button>

                            <div class="modal fade" id="idselfBicycleModal" tabindex="-1" role="dialog"
                                aria-labelledby="idselfDriveLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <p class="modal-title" id="idselfBicycle">Self-Driving Bicycle</p>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Self driving bicycle is for confort for late employees of the people who are bussy.
                                            You just have to sit on it and the bicycle rides you to your destination.
                                            Connect your bicycle with the mobile app and do your work on laptop and the there is no
                                            worries of falling down as the bicycle handles the gravity part. 
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 mt-3  mb-5 text-center" id="idCarParApp">
                    <div class="card  cardCenter" style="width: 18rem;">
                        <img src="/public/image/emptyParkingSpotApp.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">Smart Parking</p>
                            <p class="card-text">Smart parking with artificial intelligence
                                No more wasted time trying to find an empty parking spot</p>

                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#idcarParkAppModal">Detail</button>

                            <div class="modal fade" id="idcarParkAppModal" tabindex="-1" role="dialog"
                                aria-labelledby="idselfDriveLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <p class="modal-title" id="idcarParkAppModalHeading">Smart Parking</p>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Parking Detection system monitors the actual occupancy of a parking lot,
                                            provides its managers with valuable information and navigates drivers all
                                            the way to an empty parking spot.
                                            Parking Detection uses special cameras with advanced artificial
                                            intelligence for monitoring of parking lots. Our solution includes
                                            encrypted data transfer, web browser interface,
                                            mobile application for drivers with payment system and also a navigation
                                            system.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 mt-3  mb-5 text-center" id="idneuraLink">
                    <div class="card  cardCenter" style="width: 18rem;">
                        <img src="/public/image/neuraLink.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">Neuralink</p>
                            <p class="card-text">Neuralink is developing ultra high bandwidth brain-machine interfaces
                                to connect humans and computers.</p>

                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#idNeuralinkModal">Detail</button>

                            <div class="modal fade" id="idNeuralinkModal" tabindex="-1" role="dialog"
                                aria-labelledby="idselfDriveLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <p class="modal-title" id="idNeuralinkModalHeading">Neuralink</p>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Neuralink is an American neurotechnology company founded by Elon Musk and
                                            eight others,
                                            reported to be developing implantable brain–computer interfaces (BCIs).
                                            The company's headquarters are in San Francisco; it was started in 2016 and
                                            was first publicly reported in March 2017.
                                            The trademark "Neuralink" was purchased from its previous owners in January
                                            2017.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 mt-3  mb-5 text-center" id="idInviPersWatch">
                    <div class="card cardCenter " style="width: 18rem;">
                        <img src="/public/image/invisiblePersonWatch.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">Invisible Person Watch</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of
                                the card's content.</p>

                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#idInviwatchModal">Detail</button>

                            <div class="modal fade" id="idInviwatchModal" tabindex="-1" role="dialog"
                                aria-labelledby="idselfDriveLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <p class="modal-title" id="idInviwatchModalHeading">Invisible Person Watch
                                            </p>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                        Invisible person watch was invented by an Indian scientist and the feature is that the person who wears it becomes invisible.
                                        It was first used by Mr.India to stop Mogambo from mass destruction and the person whearing this watch can only be visible is red light.

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="col-sm-12 col-md-6 col-lg-4 mt-3  mb-5 text-center" id="idSkyCar">
                    <div class="card  cardCenter" style="width: 18rem;">
                        <img src="/public/image/flyingCar.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">Flying Car</p>
                            <p class="card-text">A flying car is a type of personal air vehicle or roadable aircraft
                                that provides door-to-door transportation by both ground and air.
                                The term "flying car" is also sometimes used to include hovercars. </p>

                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#idSkyCarModal">Detail</button>

                            <div class="modal fade" id="idSkyCarModal" tabindex="-1" role="dialog"
                                aria-labelledby="idselfDriveLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <p class="modal-title" id="idSkyCarModalHeading">Flying Car</p>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            A flying car is a type of personal air vehicle or roadable aircraft that
                                            provides door-to-door transportation by both ground and air. The term
                                            "flying car" is also sometimes used to include hovercars.
                                            Many prototypes have been built since the first years of the twentieth
                                            century using a variety of flight technologies and some have true VTOL
                                            performance, but no flying car has yet reached production status.
                                            Their appearance is often predicted by futurologists, with their failure
                                            ever to reach production leading to the catchphrase, "Where's my flying
                                            car?"
                                            Flying cars are also a popular theme in fantasy and science fiction
                                            stories.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 mt-3  mb-5 text-center" id="idTimeTravelMachine">
                    <div class="card  cardCenter" style="width: 18rem;">
                        <img src="/public/image/timeTravelMachine.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">Time Travel Machine</p>
                            <p class="card-text">Time travel is the concept of movement between certain points in time,
                                analogous to movement between different points in space by an object or a person,
                                typically using a hypothetical device known as a time machine.
                                Time travel is a widely-recognized concept in philosophy and fiction.</p>


                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#idTimeTravelMachineModaal">Detail</button>

                            <div class="modal fade" id="idTimeTravelMachineModaal" tabindex="-1" role="dialog"
                                aria-labelledby="idselfDriveLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <p class="modal-title" id="idTimeTravelMachineModaalHeading">Time Travel
                                                Machine</p>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Time travel is the concept of movement between certain points in time,
                                            analogous to movement between different points in space by an object or a
                                            person,
                                            typically using a hypothetical device known as a time machine.
                                            Time travel is a widely-recognized concept in philosophy and fiction. The
                                            idea of a time machine was popularized by
                                            H. G. Wells' 1895 novel The Time Machine.
                                            It is uncertain if time travel to the past is physically possible. Forward
                                            time travel, outside the usual sense of the perception of time, is an
                                            extensively-observed phenomenon and well-understood within the framework of
                                            special relativity and general relativity. However, making one body advance
                                            or delay more than a few milliseconds compared to another body is not
                                            feasible with current technology. As for backwards time travel, it is
                                            possible to find solutions in general relativity that allow for it, but the
                                            solutions require conditions that may not be physically possible. Traveling
                                            to an arbitrary point in spacetime has a very limited support in
                                            theoretical physics, and usually only connected with quantum mechanics or
                                            wormholes, also known as Einstein-Rosen bridges.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 mt-3  mb-5 text-center" id="id4DTV">
                    <div class="card  cardCenter" style="width: 18rem;">
                        <img src="/public/image/4dTV.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">4D TV</p>
                            <p class="card-text">4d tv a real life experience of whats going in the television.</p>

                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#id4dTVModal">Detail</button>

                            <div class="modal fade" id="id4dTVModal" tabindex="-1" role="dialog"
                                aria-labelledby="idselfDriveLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <p class="modal-title" id="id4dTVModalTitle">4D TV</p>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            4D film or 4-D film is a marketing term for an entertainment presentation
                                            system combining a
                                            3D film with physical effects that occur in the theatre in synchronization
                                            with the film.
                                            Effects simulated in a 4D film may include rain, wind, temperature changes,
                                            strobe lights, and vibration. Seats in 4D venues may vibrate or move a few
                                            centimeters during the presentations. Other common chair effects include
                                            air jets, water sprays, and leg and back ticklers.
                                            Auditorium effects may include smoke, rain, lightning, bubbles, and smell.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 mt-3  mb-5 text-center" id="idInviPhoneCard">
                    <div class="card  cardCenter" style="width: 18rem;">
                        <img src="/public/image/transparentPhone.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">Transparent Phone</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of
                                the card's content.</p>


                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#idTransPhoneModal">Detail</button>

                            <div class="modal fade" id="idTransPhoneModal" tabindex="-1" role="dialog"
                                aria-labelledby="idselfDriveLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <p class="modal-title" id="idTransparentPhoneTitle">Transparent Phone
                                            </p>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Transparent phone is use to save the material. And it is used by Tony Stark in Avengers series.
                                            The phone is light weight , easy to carry and features are same for all the transparent phone so 
                                            not require to buy new mobile phone.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 mt-3  mb-5 text-center" id="idHologramDisp">
                    <div class="card  cardCenter" style="width: 18rem;">
                        <img src="/public/image/hologramDisplay.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-title">Hologram Display</p>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of
                                the card's content.</p>


                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#idHologramDispModal">Detail</button>

                            <div class="modal fade" id="idHologramDispModal" tabindex="-1" role="dialog"
                                aria-labelledby="idselfDriveLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <p class="modal-title" id="idHologramDisplayTitle">Hologram Display</p>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Hologram was created by an Indian student while studing in IIT and it was appreciated as his great work in 
                                            final year project. This technology is currently used by many big companies mostly in construction business.
                                            The hologram machine scans the object and shows the hologram and a person can work on the hologram and carry out
                                            their experiment. 
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- <script href="/views/modal.js"></script> -->
    <script src="/public/js/product.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script> -->

</body>

</HTML>